/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .page {
        height: 100vh !important;
    }

    body {
        background-size: cover;
    }

    .login {
        padding-left: 0 !important;
        margin-top: 7% !important;
    }

    .login-container {
        width: 100% !important;
    }

    .login-input-container {
        width: 60% !important;
    }

    .login-img {
        display: none;
    }

    .brain-img {
        width: 80% !important;
    }

    .login-btn {
        width: 60% !important;
        margin-top: 20px;
    }

    .login-orther {
        width: 60% !important;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {

    .page {
        height: 100vh !important;
    }

    body {
        background-size: cover;
    }

    .login {
        width: 90% !important;
        padding-left: 0 !important;
        margin-top: 10% !important;
    }

    .login-img {
        display: none;
    }

    .brain-img {
        width: 80% !important;
    }

    .login-container {
        width: 100% !important;
    }

    .login-title {
        font-size: 33px !important;
    }

    .login-input-container {
        width: 80% !important;
    }

    .login-btn {
        width: 80% !important;
        margin-top: 20px;
    }

    .login-orther {
        width: 80% !important;
    }
}